@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    h1 {
        font-size: 2em;
    }
    thead tr {
        top: 5.5em;
        font-size: 1.8em;
        padding: 10px 0 0 0;
        justify-content:space-evenly;
        color: white;
    }

    td {
        font-size: 1.3em;
        padding: 1em .5em 1em 0;
    }}

    @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
        h1 {
            font-size: 2em;
        }
        thead tr {
            top: 5.5em;
            font-size: 1.8em;
            padding: 10px 0 0 0;
            justify-content:space-evenly;
            color: white;
        }
    
        td {
            font-size: 1.3em;
            padding: 1em .5em 1em 0;
        }}
    @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        h1 {
            font-size: 2em;
        }
        thead tr {
            top: 5.5em;
            font-size: 1.8em;
            padding: 10px 0 0 0;
            justify-content:space-evenly;
            color: white;
        }
    
        td {
            font-size: 1.3em;
            padding: 1em .5em 1em 0;
        }}
    @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
        h1 {
            font-size: 2em;
        }
        thead tr {
            top: 5.5em;
            font-size: 1.8em;
            padding: 10px 0 0 0;
            justify-content:space-evenly;
            color: white;
        }
    
        td {
            font-size: 1.3em;
            padding: 1em .5em 1em 0;
        }}
    @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
        h1 {
            font-size: 2em;
        }
        thead tr {
            top: 5.5em;
            font-size: 1.8em;
            padding: 10px 0 0 0;
            justify-content:space-evenly;
            color: white;
        }
    
        td {
            font-size: 1.3em;
            padding: 1em .5em 1em 0;
        }}
    @media (min-width:1281px) { /* hi-res laptops and desktops */ 
        h1 {
            font-size: 2em;
        }
        thead tr {
            top: 5.5em;
            font-size: 1.8em;
            padding: 10px 0 0 0;
            justify-content:space-evenly;
            color: white;
        }
    
        td {
            font-size: 1.3em;
            padding: 1em .5em 1em 0;
        }}